body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.inputs-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    margin-top: 25px;
}

input {
    height: 40px;
    margin-inline: 20px;
}

p {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.borrar {
    font-weight: 800;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    margin-left: -20px;
    color: red;
}

#inputs-container-partida {
    margin-bottom: 100px;
}

.black-button {
    width: 350px;
    margin: 0 auto;
    margin-top: 50px;
    height: 40px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 30px;
}

.results-container {
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    background: white;
    width: calc(18% - 2px);
    z-index: 1000;
}

.result-item {
    padding: 8px;
    cursor: pointer;
}

.result-item:hover {
    background-color: #f0f0f0;
}

hr {
    color: #d1d1d1;
    background-color: #d1d1d1;
}


.modal {
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    margin: 0 auto;
    align-items: center;
    align-content: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    align-items: center;
    align-content: center;
}

.loading-spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin-top: 15px;
    margin-bottom: 30px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}